<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<meta name="keywords" content="Intel" />
<meta http-equiv="Content-Style-Type" content="text/css" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<meta name="generator" content="chm2web Standard 2.85 (unicode)" />
<link rel="stylesheet" href="css/main.css" type="text/css">
<title>Configuring a System Using a USB Key</title>

<link rel="stylesheet" href="files/helpindex.css" type="text/css">

<script type="text/JavaScript" src="files/supply.js"></script>
<script type="text/JavaScript">
chmtop.c2wtopf.pageid = "ag154981.htm";
</script>

</head>
<body><script type="text/JavaScript"> 
if (window.name != "content") 
  document.write(" <table width=\"100%\" bgcolor=\"#e1e1e1\"cellspacing=\"2\" cellpadding=\"0\" style=\"border-collapse: collapse; font-family: sans-serif; font-size: 14px; color: #000000; text-decoration: none;  \"> <tr> <td align=\"center\" style=\"border-bottom: 2px solid gray\" > <br>&nbsp;Click <a href=\"index.html?page=ag154981.htm\">here</a> to show toolbars of the Web Online Help System: <a href=\"index.html?page=ag154981.htm\">show toolbars</a><br>&nbsp;</td></tr></table><br> "); 
</script>
<!-- !chm2web! -->

<p class="x2Heading"><a name="Xag154981" id=
"Xag154981"></a><a name="Rag83032" id="Rag83032"></a><a name=
"Rag60951" id="Rag60951"></a><b>Configuring a System Using a USB
Key</b>
</p>

<p class="TableAnchor">&nbsp;</p>

<table border="1" cellspacing="1" cellpadding="2" class="FormatA">
<tr>
<td valign="top">
<p class="CellBody"><span class="bold"><b>Command</b></span>
</p>
</td>
<td valign="top">
<p class="CellBody">ConfigViaUSB</p>
</td>
</tr>

<tr>
<td valign="top">
<p class="CellBody"><span class="bold"><b>Description</b></span>
</p>
</td>
<td valign="top">
<p class="CellBody">Creates a file containing configuration
settings. When the Intel&nbsp;AMT system is rebooted with a USB key
containing this file, Intel AMT is configured on the system. For
more information, see <a class="CellBody" href=
"ab142526.htm#rab99048"><span class="Underlined"><u>SMB/Manual
Configuration</u></span></a>.</p>

<p class="CellBody">The Configurator does not restrict the size of
USB key you can use. But, the computer BIOS must fully support the
selected USB key and be able to do a reboot from it.</p>

<p class="CellBody"><span class="bold"><b>Note:</b></span>
</p>

<p class="BulletTable"><span class="bullet">•</span> The settings
you can define are limited. If additional settings are required,
they must be performed by a third-party application.</p>

<p class="BulletTable"><span class="bullet">•</span> This command
puts the Intel AMT device in the Admin Control mode (see <a class=
"BulletTable" href="ab153865.htm#rab77473"><span class=
"Underlined"><u>Control Modes</u></span></a>).</p>

<p class="BulletTable"><span class="bullet">•</span> You can use
this option to define certain KVM parameters not available in
Client Control.</p>
</td>
</tr>

<tr>
<td valign="top">
<p class="CellBody"><span class="bold"><b>Syntax</b></span>
</p>

<p class="CellBody">&nbsp;</p>

<p class="CellBody"><span class="bold"><b>Note:</b></span> The CLI
does not support passwords that start with a forward slash (/).</p>
</td>
<td valign="top">
<p class="CellBody">ACUConfig.exe [global options]
ConfigViaUSB&nbsp;</p>

<p class="CellBody">{/NewMEBxPass &lt;<span class=
"Italic"><i>password</i></span>&gt;} [/CurrentMEBxPass
&lt;<span class="Italic"><i>password</i></span>&gt;]</p>

<p class="CellBody">[/OutputFile &lt;<span class=
"Italic"><i>filename</i></span>&gt;] [/PowerPackage
&lt;<span class="Italic"><i>guid</i></span>&gt;] {{/UsingDhcp}|</p>

<p class="CellBody">{/HostName &lt;<span class=
"Italic"><i>host_name</i></span>&gt; /DomainName &lt;<span class=
"Italic"><i>domain_name</i></span>&gt;</p>

<p class="CellBody">/LocalHostIp &lt;<span class=
"Italic"><i>ip</i></span>&gt; /SubnetMaskIp &lt;<span class=
"Italic"><i>subnet_mask</i></span>&gt;</p>

<p class="CellBody">[/GatewayAddrIp &lt;<span class=
"Italic"><i>ip</i></span>&gt; ] [/DnsAddrIp &lt;<span class=
"Italic"><i>ip</i></span>&gt;]</p>

<p class="CellBody">[/SecondaryDnsAddrIp &lt;<span class=
"Italic"><i>ip</i></span>&gt;]}} [/EnableKVM &lt;false |
true&gt;]</p>

<p class="CellBody">[/EnableUserConsent &lt;none | kvm_only |
all_redirection&gt;]</p>

<p class="CellBody">[/EnableRemoteITConsent &lt;false |
true&gt;]</p>
</td>
</tr>

<tr>
<td valign="top" colspan="2">
<p class="CellBody"><span class="bold"><b>Parameters</b></span>
</p>
</td>
</tr>

<tr>
<td valign="top">
<p class="CellBody">[global options]</p>
</td>
<td valign="top">
<p class="CellBody">See <a class="CellBody" href=
"ag153968.htm#rag31553"><span class="Underlined"><u>CLI Global
Options</u></span></a></p>
</td>
</tr>

<tr>
<td valign="top">
<p class="CellBody">/NewMEBxPass &lt;<span class=
"Italic"><i>password</i></span>&gt;</p>
</td>
<td valign="top">
<p class="CellBody">The new password to put in the Intel MEBX (see
<a class="CellBody" href="ab145739.htm#rab25027"><span class=
"Underlined"><u>Password Format</u></span></a>). This parameter is
mandatory, even if the Intel MEBX password has already been changed
from the default of “admin”.</p>
</td>
</tr>

<tr>
<td valign="top">
<p class="CellBody">/CurrentMEBxPass &lt;<span class=
"Italic"><i>password</i></span>&gt;</p>
</td>
<td valign="top">
<p class="CellBody">The current Intel MEBX password. The default
password of unconfigured systems is “admin”. This parameter is not
required for systems that have the default password.</p>
</td>
</tr>

<tr>
<td valign="top">
<p class="CellBody">/PowerPackage &lt;<span class=
"Italic"><i>guid</i></span>&gt;</p>
</td>
<td valign="top">
<p class="CellBody">Power Package GUID (see <a class="CellBody"
href="ag129151.htm#rag70704"><span class="Underlined"><u>Power
Package GUIDs</u></span></a>)</p>
</td>
</tr>

<tr>
<td valign="top">
<p class="CellBody">/OutputFile &lt;<span class=
"Italic"><i>filename</i></span>&gt;</p>
</td>
<td valign="top">
<p class="CellBody">The name of the file and the path to the
location where you want to save it. If this parameter is not used,
by default the file is created in the same folder as the
Configurator. The file must be named <span class=
"Italic"><i>Setup.bin</i></span> and must be placed in the root
folder of the USB key.</p>

<p class="CellBody">To make sure that <span class=
"Italic"><i>Setup.bin</i></span> is the first file that the BIOS
will find during reboot (requirement), format the USB key before
creating/copying the file. If the Intel AMT system does not
successfully reboot with the USB key you prepared, try this:</p>

<p class="BulletTable"><span class="bullet">•</span> Make sure that
the file name starts with a capital “S”</p>

<p class="BulletTable"><span class="bullet">•</span> Format the USB
key using FAT16</p>

<p class="CellBody"><span class="bold"><b>Note:</b></span>
</p>

<p class="BulletTable"><span class="bullet">•</span> The
<span class="Italic"><i>Setup.bin</i></span> file is NOT encrypted
so make sure that you restrict access to it.</p>

<p class="BulletTable"><span class="bullet">•</span> After
configuration the Configurator deletes the data it contains. This
means that you must create a new file for each system you want to
configure.</p>

<p class="BulletTable"><span class="bullet">•</span> The
Configurator overwrites any existing file with the same name
without giving a warning.</p>
</td>
</tr>

<tr>
<td valign="top">
<p class="CellBody">/UsingDhcp</p>
</td>
<td valign="top">
<p class="CellBody">Sets the DHCP mode to enabled in the Intel
MEBX</p>
</td>
</tr>

<tr>
<td valign="top">
<p class="CellBody">/HostName &lt;<span class=
"Italic"><i>host_name</i></span>&gt;</p>
</td>
<td valign="top">
<p class="CellBody">Intel AMT system hostname (1 – 32
characters)</p>
</td>
</tr>

<tr>
<td valign="top">
<p class="CellBody">/DomainName &lt;<span class=
"Italic"><i>domain_name</i></span>&gt;</p>
</td>
<td valign="top">
<p class="CellBody">Intel AMT system domain name
(0&nbsp;–&nbsp;63&nbsp;characters)</p>
</td>
</tr>

<tr>
<td valign="top">
<p class="CellBody">/LocalHostIp &lt;<span class=
"Italic"><i>ip</i></span>&gt;</p>
</td>
<td valign="top">
<p class="CellBody">The IP address (IPV4) to set in the Intel MEBX.
If you supply this parameter, the /SubnetMaskIp parameter is
mandatory (the remaining IP parameters are optional).</p>
</td>
</tr>

<tr>
<td valign="top">
<p class="CellBody">/SubnetMaskIp &lt;<span class=
"Italic"><i>subnet_mask</i></span>&gt;</p>
</td>
<td valign="top">
<p class="CellBody">The subnet mask IP address to set in the Intel
MEBX</p>
</td>
</tr>

<tr>
<td valign="top">
<p class="CellBody">/GatewayAddrIp &lt;<span class=
"Italic"><i>ip</i></span>&gt;</p>
</td>
<td valign="top">
<p class="CellBody">The default gateway IP address to set in the
Intel MEBX</p>
</td>
</tr>

<tr>
<td valign="top">
<p class="CellBody">/DnsAddrIp &lt;<span class=
"Italic"><i>ip</i></span>&gt;</p>
</td>
<td valign="top">
<p class="CellBody">The preferred DNS IP address to set in the
Intel MEBX</p>
</td>
</tr>

<tr>
<td valign="top">
<p class="CellBody">/SecondaryDnsAddrIp &lt;<span class=
"Italic"><i>ip</i></span>&gt;</p>
</td>
<td valign="top">
<p class="CellBody">An alternate DNS IP address to set in the Intel
MEBX</p>
</td>
</tr>

<tr>
<td valign="top">
<p class="CellBody">/EnableKVM &lt;false | true&gt;</p>
</td>
<td valign="top">
<p class="CellBody">Enable/Disable support for KVM redirection.</p>

<p class="CellBody"><span class="bold"><b>Note</b></span>: This
parameter is mandatory on systems with Intel AMT 6.0 and higher. If
you do not supply it, configuration will fail on those systems.</p>
</td>
</tr>

<tr>
<td valign="top">
<p class="CellBody">/EnableUserConsent<br>
&lt;none | kvm_only | all_redirection&gt;</p>
</td>
<td valign="top">
<p class="CellBody">Defines for which redirection operations user
consent is mandatory.</p>

<p class="CellBody">For more information, see <a class="CellBody"
href="ab153874.htm#rab65206"><span class="Underlined"><u>User
Consent</u></span></a><span class="SC8286742"><u>.</u></span></p>

<p class="CellBody"><span class="bold"><b>Note:</b></span> You can
use the “all_redirection” option only on systems with
Intel&nbsp;AMT&nbsp;7.x and higher.</p>
</td>
</tr>

<tr>
<td valign="top">
<p class="CellBody">/EnableRemote ITConsent &lt;false |
true&gt;</p>
</td>
<td valign="top">
<p class="CellBody">Defines if it is permitted to remotely make
changes to the user consent setting in the Intel&nbsp;AMT
device</p>
</td>
</tr>
</table>

<p class="Regtext">&nbsp;</p>

<p class="Regtext" style="FONT-SIZE: 9pt;">Copyright © 2006-2013,
Intel Corporation. All rights reserved.</p>

<script type="text/JavaScript">
var fe = FindFrame("toc", top);
if ((fe != null) && (chmtop.c2wtopf.jstree != null)) {
  if (chmtop.c2wtopf.FITEMS[chmtop.c2wtopf.pagenum] != chmtop.c2wtopf.pageid)
    chmtop.c2wtopf.jstree.OpenTreeNode("" + chmtop.c2wtopf.pageid);
}
</script>
</body>
</html>
