﻿
a:Link {color: #0560a6; text-decoration: none;}

a:Visited {color: #0560a6; text-decoration: none;}

a:Hover {color: #EA681A; text-decoration: none}

a:Active {color: #0560a6; text-decoration: none;}

.a, span.a {background-color: #f3f1f1;}

p.x1Heading {
	border-bottom:thin solid #0860A8;
	color: #0860A8;
	font-family:"Trebuchet MS", Helvetica, sans-serif;
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 12px;
	margin-left: 6px;
	margin-top: 20px;
	padding-bottom: 6px;
}

p.x1Headingapdx {
	border-bottom:thin solid #0860A8;
	color: #0860A8;
	font-family:"Trebuchet MS", Helvetica, sans-serif;
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 12px;
	margin-left: 6px;
	margin-top: 20px;
	padding-bottom: 6px;
}

p.x2Heading {
	color: #0860A8;
	font-family:"Trebuchet MS", Helvetica, sans-serif;
	font-size: 22px;
	font-weight: bold;
	margin-bottom: 12px;
	margin-left: 6px;
	margin-top: 20px;
}

p.x3Heading {
	color: #0860A8;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 22px;
	font-weight: bold;
	margin-bottom: 12px;
	margin-left: 6px;
	margin-top: 20px;
}

p.x4Heading {
	color: #0860A8;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 22px;
	font-weight: bold;
	margin-bottom: 12px;
	margin-left: 22px;
	margin-top: 20px;
}

p.x5Heading {
	color: #0860A8;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 12px;
	margin-left: 22px;
	margin-top: 20px;
}

p.StepHeading {
	color: #0860A8;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 12px;
	margin-left: 40px;
	margin-top: 20px;
	text-indent: -24px;
}

p.SeeAlso {
	border-bottom:thin solid #0860A8;
	color: #0860A8;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 12px;
	margin-left: 22px;
	margin-top: 20px;
	padding-bottom: 6px;
}

p.Regtext {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 150%;
	margin-bottom: 6px;
	margin-left: 22px;
	margin-top: 6px
}

span.bullet  {color: #0860A8; padding-right: 2px;}

p.Bullet {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 150%;
	margin-bottom: 6px;
	margin-left: 38px;
	margin-top: 6px;
	text-indent: -16px;
}

p.BulletSub {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 150%;
	margin-bottom: 6px;
	margin-left: 64px;
	margin-top: 6px;
	text-indent: -16px;
}

p.BulletProc {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 150%;
	margin-bottom: 6px;
	margin-left: 68px;
	margin-top: 6px;
	text-indent: -16px;
}

p.BulletSubProc {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 150%;
	margin-bottom: 6px;
	margin-left: 98px;
	margin-top: 6px;
	text-indent: -16px;
}

p.BulletTable {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 150%;
	margin-bottom: 6px;
	margin-left: 28px;
	margin-top: 6px;
	text-indent: -16px;
}

p.CellHeading {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	line-height: 200%;
	margin-left: 6px;
}

p.CellBody {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 150%;
	margin-bottom: 3px;
	margin-top: 3px;
	margin-left: 6px;	
}

p.Figure {margin-bottom: 0px;}

p.IndentProc {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 150%;
	margin-bottom: 6px;
	margin-left: 38px;
	margin-top: 6px;	
}

p.IndentBullet {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 150%;
	margin-bottom: 6px;
	margin-left: 38px;
	margin-top: 6px;
}

p.IndentBulletSub {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 150%;
	margin-bottom: 6px;
	margin-left: 60px;
	margin-top: 6px;
}

p.Note {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 150%;
	margin-bottom: 6px;
	text-align: left;
	text-indent: -48px;
	background: transparent url(note.png) no-repeat top left;
	padding: 0px 0px 0px 65px;
}

p.NoteBullet {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 150%;
	margin-bottom: 3px;
	margin-left: 48px;
	margin-top: 3px;
	text-indent: -16px;
}

p.Procedure {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 150%;
	margin-bottom: 6px;
	margin-left: 38px;
	margin-top: 6px;
	text-indent: -18px;
}

p.Toprocedure {
	color: #0860A8;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 150%;
	margin-bottom: 6px;
	margin-left: 22px;
	margin-top: 6px;
}

p.ProcSubStep {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 150%;
	margin-bottom: 6px;
	margin-left: 64px;
	margin-top: 6px;
	text-indent: -16px;
}

p.ProcSubStep1 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 150%;
	margin-bottom: 6px;
	margin-left: 64px;
	margin-top: 6px;
	text-indent: -16px;
}

p.TableAnchor {
	line-height: 0;
	margin-bottom: 0px;
	margin-top: 0px;
}

table.formatA {
	line-height: 0;
	margin-left: 38px;
}

table.Figure {
	line-height: 0;
	margin-left: 38px;
	text-align: left;
}

table.Note {
	border-style:solid;
	border-width:1px;
	background-color: #D9EDFD;
	margin-bottom: 6px;
	margin-left: 22px;
	margin-top: 6px;
}

table.NoteProc {
	border-style:solid;
	border-width:1px;
	background-color: #D9EDFD;
	margin-bottom: 6px;
	margin-left: 38px;
	margin-top: 6px;	
}